.cartItem {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    position: relative;
}

.cartItemImage {
    width: 5rem;
    height: 3rem;
    vertical-align: middle;
    margin-right: 1rem;
}

.cartItemText {
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: middle;
    margin-right: 2rem;
}

.quantityChanger {
    display: inline-block;
    margin-right: 2rem;
}

.quantityChangerButton {
    font-size: 1.5rem;
    vertical-align: middle;
    border-style: solid;
    width: 2rem;
    height: 2rem;
}

.removeItemButton {
    position: absolute;
    color: red;
    margin-left: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    right: 0;
}

.removeItemButton:hover {
    cursor: pointer;
}
