#cart {
    width: 80%;
    justify-content: center;
    border-style: solid;
    margin: auto;
}

#totalCartPrice {
    margin-left: 2rem;
    font-size: 1.5rem;
}

#buyButton {
    margin-top: 1rem;
    margin-left: calc(90% - 4rem);
    font-size: 1.2rem;
    width: 4rem;
    height: 2rem;
    margin-bottom: 2rem;
}
