#productList {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
}

#productsTitle {
    text-align: center;
}
