#productCard {
    border-color: #DFDFDF;
    border-style: solid;
    border-width: 0.01rem;
    width: 26rem;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

#productCard #image {
    width: 20rem;
    height: 12rem;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

#productCard #name {
    text-align: center;
}

#productCard #price {
    margin-left: 2rem;
}