.cart-button {
    font-size: 1rem;
    min-height: 2rem;
    &--add {
        width: 8rem;
        background-color: #E1FFE7;
    }
    &--remove {
        width: 9rem;
        background-color: #FFE1E1;
    }
}