.cart-button {
    font-size: 1rem;
    min-height: 2rem;
    &--add {
        width: 8rem;
        background-color: #AEFFBE;
        &:hover {
            background-color: #6BFF89;
        }
    }
    &--remove {
        width: 9rem;
        background-color: #FFD1D1;
        &:hover {
            background-color: #FFAEAE;
        }
    }
    &--disabled {
        width: 8rem;
        background-color: #E5E5E5;
        &:hover {
            cursor: default;
        }
    }
}