.product-card-container {
    text-decoration: none;
    color: black;
    position: relative;
    border-color: #DFDFDF;
    border-style: solid;
    border-width: 0.01rem;
    width: 26rem;
    box-sizing: border-box;
    height: 21rem;
}

.product-card {
    &__name {
        text-align: center;
    }
    &__price {
        margin-left: 2rem;
    }
}

.image-box {
    margin: auto;
    width: 20rem;
    position: relative;
    &__image {
        height: 12rem;
        display: block;
        width: 100%;
        position: relative;
        &--product {
            margin: auto;
            margin-bottom: 1rem;
            position: relative;
        }
        &--out-of-stock {
            position: absolute;
            top: 0;
        }
    }
}
