.product-card {
    text-decoration: none;
    color: black;
    position: relative;
    border-color: #DFDFDF;
    border-style: solid;
    border-width: 0.01rem;
    width: 26rem;
    box-sizing: border-box;
    height: 21rem;
    &__inner {
        text-align: center;
        position: relative;
    }
    &__link {
        text-decoration: none;
        color: black
    }
    &__name {
        text-align: center;
    }
    &__image-box {
        margin: auto;
        width: 20rem;
        position: relative;
        &-image {
            height: 12rem;
            display: block;
            width: 100%;
            position: relative;
            &--product {
                margin: auto;
                margin-bottom: 1rem;
                position: relative;
            }
            &--out-of-stock {
                position: absolute;
                top: 0;
            }
        }
    }
    &__stock {
    }
    &__price {
    }
    &__cart-button {
    }
}
